.App {
  font-family: sans-serif;
  text-align: center;
}

label,
input {
  padding: 0.5rem 0.8rem;
}

label {
  display: block;
}

.hero-banner {
  width: 50%;
}

.field-container {
  margin: 0.5rem;
}

.btn {
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 0.5rem 1rem;
}

.text-highlight {
  color: palevioletred;
}

.todo-card {
  background-color: #ccc;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 50%;
}

.task-completed-true {
  text-decoration: line-through;
}

.task-completed-false {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .hero-banner {
    width: 20%;
  }

  .todo-card {
    width: 30%;
  }
}
